.env
.env_unix
.env_win
*.exe
.vscode/*
*.pyc 
build/*
tex/imu_error_model.aux
tex/imu_error_model.aux.bbl
tex/imu_error_model.aux.blg
tex/imu_error_model.bbl
tex/imu_error_model.bcf
tex/imu_error_model.blg
tex/imu_error_model.dvi
tex/imu_error_model.fdb_latexmk
tex/imu_error_model.fls
tex/imu_error_model.log
tex/imu_error_model.out
tex/imu_error_model.run.xml
tex/imu_error_model.synctex.gz
tex/imu_error_model.tex.bbl
tex/imu_error_model.tex.blg
tex/infertia_strapdown_integration.aux
tex/infertia_strapdown_integration.bcf
tex/infertia_strapdown_integration.log
tex/infertia_strapdown_integration.out
tex/infertia_strapdown_integration.run.xml
tex/infertia_strapdown_integration.synctex.gz
tex/strapdown_report.bib.bbl
tex/strapdown_report.bib.blg
tests/simple_strapdown_reference.csv
tex/imu_error_model-blx.bib
tex/infertia_strapdown_integration.blg
tex/infertia_strapdown_integration.bbl
tex/infertia_strapdown_integration-blx.bib
